numpy
streamlit
streamlit_webrtc
keras
opencv-contrib-python-headless
tensorflow
tensorflow-gpu
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-estimator


