numpy~=1.21.2
streamlit~=0.87.0
streamlit_webrtc
keras~=2.4.3
opencv-contrib-python-headless
tensorflow
tensorflow-gpu
absl-py==0.12.0
altair==4.1.0
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
base58==2.1.0
bleach==3.3.0
blinker==1.4
rsa==4.7.2
Send2Trash==1.5.0
six==1.15.0
smmap==4.0.0
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-estimator
streamlit-webrtc

